table th {
        background-color: #F6B3AF;
        padding: 10px 20px;
    }
 
table td {
        background-color: #FAE5E3;
        padding: 10px 20px;
    }
 
 .notice {
        background-color: #ccf;
        padding: 5px;
    }
    
  h4 {
        
        background-color: #C70039;
        color:#fff;
        padding: 25px;
        font-size:40px;
        test-align:center;  
  } 